html {
  --bright-blue: hsl(220, 98%, 61%);
  --check--background: hsl(192, 100%, 67%), hsl(280, 87%, 65%);

  --body-background-color: hsl(235, 21%, 11%);
  --todo-background-color: hsl(235, 24%, 19%);
  --text-color-light: hsl(234, 39%, 85%);
  --text-color-dark: hsl(234, 11%, 52%);
  --text-color-darker: hsl(233, 14%, 35%);
  --text-color-hover: hsl(236, 33%, 92%);
  --border-color: hsl(237, 14%, 26%);

  --black-shadow: 0, 0%, 0%;

  --font: "Josefin Sans", sans-serif;

  --background-mobile: no-repeat url("../assets/bg-mobile-dark.jpg");
  --background-desktop: no-repeat url("../assets/bg-desktop-dark.jpg");

  --transition: all 0.3s ease-in;
}

html[data-theme="light"] {
  --body-background-color: hsl(0, 0%, 98%);
  --todo-background-color: var(--body-background-color);
  --text-color-light: hsl(235, 19%, 35%);
  --text-color-dark: hsl(233, 11%, 84%);
  --text-color-darker: hsl(236, 9%, 61%);

  --border-color: hsl(236, 33%, 92%);

  --background-mobile: no-repeat url("../assets/bg-mobile-light.jpg");
  --background-desktop: no-repeat url("../assets/bg-desktop-light.jpg");
}
